#border{
	border: 1px solid black;
	border-radius: 5px;
	width: 600px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
}

.card{
	margin-top: 70px;
	margin-left: 10px;
	border: 1px solid black;
	height: 120px;
	width: 90px;
	background-color: black;
	display: inline-block;
    background: url(images/back-of-card.png); 
    background-size: contain;
}

#block{
display: inline-block;	
}

img{
	height: 100%;
	width: 100%;
}

.card.K.select{
	background: url(images/King.png); 
    background-size: contain;
}


.card.Q.select{
	background: url(images/Queen.png); 
    background-size: contain;
}
